{{#if Context.IsEditable}}
{{registerscript "../_Shared/sort/js/Sortable.min.js"}}
{{registerscript "../_Shared/sort/js/Open-Content-Sort.js"}}
{{/if}}

<div class="oc-timeline">

 <ul class="timeline sortableList" data-moduleid="{{Context.ModuleId}}">
 {{#each Items}}
        <li class="item" data-id="{{Context.Id}}">
		{{#if Context.IsEditable}}
		<div class="oc-item-editbar sorthandle text-right mb-3">
			<a class="oc-edit-link" href="{{Context.EditUrl}}"><i class="fa fa-pencil edit-link" aria-hidden="true"></i></a>
			<span class="fa fa-arrows edit-link oc-item-move" aria-hidden="true" style="cursor: move;cursor: -webkit-grabbing;"></span>
		</div>
		{{/if}}
		<div class="oc-content clearfix">
					
          <div class="timeline-image">
            {{#if Visuals.Image.cropUrl}}<img class="img-circle img-fluid" src="{{Visuals.Image.cropUrl}}" alt="{{#if Visuals.Text}}{{Visuals.Text}}{{else}}{{Texts.Title}}{{/if}}">
			{{else}}
			<div class="circle"></div>
			{{/if}}
          </div>
          <div class="timeline-panel">
            <header class="timeline-heading">
				{{#if Texts.Title}}
              	<h2 class="oc-title">{{Texts.Title}}</h2>
			  	{{/if}}
				{{#if Texts.Intro}}
				<h3 class="oc-sub-title">{{Texts.Intro}}</h3>
				{{/if}}
				</header>
				{{#if Texts.Text}}
				<section class="text">
				{{Texts.Text}}
				</section>
				{{/if}}
			{{#if Links}}
			<footer>
			{{#each  Links.[0]}}
				<a class="btn {{#if Color}}btn-{{Color}}{{else}}btn-default{{/if}}" href="{{Url}}"{{#if NewWindow}} target="_blank" rel="noopener noreferrer"{{/if}}>{{#if Icon}}<i class="fa {{Icon}}" aria-hidden="true"></i>{{/if}}{{Text}}</a>
			{{/each}}
			</footer>
			{{/if}}
          </div>
		  </div>
          <div class="line"></div>
        </li>
		{{/each}}
	</ul>


</div>