

<div id="oc-videos-{{Context.ModuleId}}" class="oc-videos list text-below">
	<div class="intro">
	{{@root.Settings.Texts.Intro}}
	</div>
	
	

	{{#if Context.IsEditable}}
	<!-- Allow Order -->
	{{registerscript "../_Shared/sort/js/Sortable.min.js"}}
	{{registerscript "../_Shared/sort/js/Open-Content-Sort.js"}}
	
	{{#ifor Settings.Filters.Text Settings.Filters.Category}}
	<strong> Filtering not available in Edit Mode</strong>
	{{/ifor}}
	
	{{else}}
	
	<!-- Filters -->
	{{#ifor Settings.Filters.Text Settings.Filters.Category}}
	
	{{registerscript "jplist/js/jplist.core.min.js"}}
	{{registerscript "jplist/js/jplist.textbox-filter.min.js"}}
	{{registerscript "jplist/js/jplist.filter-toggle-bundle.min.js"}}

	<div class="jplist-panel clearfix">

		<div class="row">
		{{#if Settings.Filters.Text}}
			<div class="col col-12">

				<!-- Filter by Text -->
				<div class="text-filter-box">
						   <input 
							 data-path=".title, .text" 
							 type="text" 
							 value="" 
							 class="jplist-no-right-border"
							 placeholder="Filter by Text" 
							 data-control-type="textbox" 
							 data-control-name="title-filter" 
							 data-control-action="filter"
						   />
				</div>
			</div>
			{{/if}}
			
			{{#if Settings.Filters.Category}}
			<div class="col col-12">
				
				<!-- Filter by Category -->
					<div class="jplist-group category-filter"
					 data-control-type="checkbox-text-filter"
					 data-control-action="filter"
					 data-control-name="category-filter"
					 data-id="category-filter"
					 data-path=".category"
					 data-logic="or">
					 
					{{#each AdditionalData.Categories}}
						 <span class="check">
						  <label for="{{Title}}">{{Title}}</label>
						 <input 
						   value="{{Title}}"
						   id="{{Title}}"
						   data-path="category-{{Title}}"
						   type="checkbox"
						 />
						
						 </span>
					{{/each}}{{/if}}
						
					</div>
			</div>
			{{/if}}
		</div>
	</div>
	
	{{/ifor}}
	{{/if}}

	<div class="items row sortableList" data-moduleid="{{Context.ModuleId}}">
		{{#each Items}}
				<div class="item col col-12 
					{{#if @root.Settings.Style.Item.sm}}
						col-sm-{{@root.Settings.Style.Item.sm}}
					{{/if}}
					{{#if @root.Settings.Style.Item.md}}
						col-md-{{@root.Settings.Style.Item.md}}
					{{/if}}
					{{#if @root.Settings.Style.Item.lg}}
						col-lg-{{@root.Settings.Style.Item.lg}}
					{{/if}}
					{{#if @root.Settings.Style.Item.xl}}
						col-xl-{{@root.Settings.Style.Item.xl}}
					{{/if}}
					{{#if @root.Settings.Style.Item.xxl}}
						col-xxl-{{@root.Settings.Style.Item.xxl}}
					{{/if}}"
					data-id="{{Context.Id}}"
					>
					

					<div class="wrap-content">
					
					{{#if Context.IsEditable}}
					<div class="sorthandle text-right">
						<a class="edit-link" href="{{Context.EditUrl}}"><i class="fa fa-pencil edit-link" aria-hidden="true"></i></a>
						<span class="fa fa-arrows edit-link" aria-hidden="true" style="cursor: move;cursor: -webkit-grabbing;"></span>
					</div>
					{{/if}}
					
				{{#unless Videos}}
						<header>
						<h2 class="title"><a href="{{Link}}" target="_blank">{{Series.Title}}&nbsp;&raquo;</a></h2>
						<div class="text">
						{{Series.Text}}
						</div>
						<div class="category">
						{{#each Categories}}
							{{Title}}{{#if @last}} {{else}}, {{/if}}
						{{/each}}
						</div>
						</header>
						<section>
							<a href="{{Link}}" target="_blank">
								<div class="oc-Video video video-16-9 effect-{{@root.Settings.Style.SeriesEffect}}">
									{{#if Series.Icon.cropUrl}}
									<img class="img-fluid" src="{{Series.Icon.cropUrl}}" alt="{{Series.Title}}" loading="lazy" />
									{{/if}}
								</div>
							</a>
						</section>
						
						{{else}}
							{{#ifor Series.Title Videos.[1]}}
							<!-- Show link to series -->
								<header>
									<h2 class="title">{{@root.Settings.Texts.Series}}: <a href="{{Context.DetailUrl}}">{{Series.Title}}&nbsp;&raquo;</a></h2>
									<div class="text">
									{{Series.Text}}
									</div>
									<div class="category">
									{{#each Categories}}
										{{Title}}{{#if @last}} {{else}}, {{/if}}
									{{/each}}
									</div>
								</header>
								<section>
									<a href="{{Context.DetailUrl}}">
										<div class="oc-Video video video-16-9 effect-{{@root.Settings.Style.SeriesEffect}}">
											{{#if Series.Icon.cropUrl}}
											<img class="img-fluid" src="{{Series.Icon.cropUrl}}" alt="{{Series.Title}}" loading="lazy" />
											{{else}}
											<img class="img-fluid" src="https://img.youtube.com/vi/{{Videos.[0].YouTubeId}}/maxresdefault.jpg" alt="{{Series.Title}}" loading="lazy" />
											{{/if}}
										</div>
									</a>
								</section>
							{{else}}
								{{#each Videos}}
									<header>
										<h2 class="title">{{Title}}</h2>
										<div class="text">
										{{Description}}
										</div>
										<div class="category">
										{{#each ../Categories}}
											{{Title}}{{#if @last}} {{else}}, {{/if}}
										{{/each}}
										</div>
									</header>
									<section>
										<div class="oc-Video video video-16-9">
											<iframe width="1280" height="720" loading="lazy" src="https://www.youtube{{#if @root.Settings.Options.NoCookies}}-nocookie{{/if}}.com/embed/{{YouTubeId}}?rel={{#if @root.Settings.Options.Related}}1{{else}}0{{/if}}&amp;controls={{#if @root.Settings.Options.Controls}}1{{else}}0{{/if}}&amp;fs={{#if @root.Settings.Options.Fullscreen}}1{{else}}0{{/if}}&amp;modestbranding={{#if @root.Settings.Options.Modestbranding}}1{{else}}0{{/if}}" frameborder="0" allowfullscreen></iframe>
										</div>
									</section>
								{{/each}}
							{{/ifor}}
				{{/unless}}

			</div>
			</div>
		{{/each}}
	</div>
	
	   <!-- no results found -->
   <div class="jplist-no-results d-none">
	  No results found
   </div>
</div>


	<script>
	
	var filtering = false;
	{{#unless Context.IsEditable}}
		{{#ifor Settings.Filters.Text Settings.Filters.Category}}
		
		filtering = true;
			$('document').ready(function(){
			   $('#oc-videos-{{Context.ModuleId}}').jplist({				
				  itemsBox: '.items' 
				  ,itemPath: '.item' 
				  ,panelPath: '.jplist-panel'
					,deepLinking: true
					,redrawCallback: function(){
						console.log("redraw");
						//this code occurs on every jplist action
						// getItems('#oc-listings-{{Context.ModuleId}}');
					}
			   });
			   
			});

		{{/ifor}}
	{{/unless}}

	</script>




