{{#if Context.IsEditable}}
{{registerscript "../_Shared/sort/js/Sortable.min.js"}}
{{registerscript "../_Shared/sort/js/Open-Content-Sort.js"}}
{{/if}}

<section class="oc-icon-blocks">
	<div class="container">
		<div class="row">
		<div class="col-12">
			<div class="row sortableList justify-content-center" data-moduleid="{{Context.ModuleId}}">
			{{#each Items}}
				<div class="item col-12 col-lg-4" data-id="{{Context.Id}}">
					<div class="item-content item-content-{{@index}}">
					
					{{#if Context.IsEditable}}
					<div class="sorthandle text-right">
						<a class="edit-link" href="{{Context.EditUrl}}"><i class="fa fa-pencil edit-link" aria-hidden="true"></i></a>
						<span class="fa fa-arrows edit-link" aria-hidden="true" style="cursor: move;cursor: -webkit-grabbing;"></span>
					</div>
					{{/if}}
					<a class="text-link" href="{{Url}}" target="{{Target}}">
					<div class="content">
							{{#if Visuals.Icon}}
								<div class="icon text-center">
									<i class="{{Visuals.Icon}}"></i>
								</div>
							{{/if}}
							
							
							
							{{#if Texts.Title}}
							<h2 class="title text-center">{{Texts.Title}}</h2>
							{{/if}}
							
								{{#if Texts.Text}}
									<div class="text">
									{{Texts.Text}}
									</div>
								{{/if}}

						</div>
						</a>

						<div class="buttons text-center">

							
							<a class="btn btn-secondary" href="{{Url}}"  target="{{Target}}">{{ButtonText}}</a>

						</div>

					</div>

					
				</div>
			{{/each}}
			
			</div>
			</div>
		</div>
	</div>
</section>
